@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /* line-height: 1; */
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4F260B;
    /* font-family: ten-mincho, serif; */
    font-family: "ten-mincho-text", serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
    /* font-feature-settings: "palt"; */
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 
確認したいこと
・ヘッダーが逆スクロールしてもでてこない
・ヘッダーのメニューボタンを押してもでてこない
・根のアニメーションがみえないのはローディング時間のせいでしょうか？
・コンタクトの動きを確認したいです

・worksの黄色い背景が適応されない
・トップページのlink下にあるscriptたぐ（エラー？）は何でしょうか。
・フッターのとび先はトップページ内にするか、かそうページにするのかどちらがいいか
・トップページの画面幅がおかしくなってしまうときがある
→一widthのせい？
・about.htmlの頭をメニューイラスト文の頭をそろえたいのと、イラストをもう少しだけ右に寄せたいです。

よろしくお願いいたします。