@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /* line-height: 1; */
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4F260B;
    /* font-family: ten-mincho, serif; */
    font-family: "ten-mincho-text", serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
    /* font-feature-settings: "palt"; */
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 
質問
・works.htmlのところで、きれいに3×４に並べたい。
黄色の背景（アセット2－80.jpg)を全ての画像の背景に入れるには、
htmlで入れた方が良いか。どうしたらいいでしょうか。
・works-subのA案B案を画像の真ん中にもっていきたいのですが
どうしたらいいでしょうか。
・お問い合わせフォームをつくろうとしたのですが、
グーグルフォームの作り方からわかりませんでした。明日の面談で一緒に確認したいです。

よろしくお願いいたします*/