@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /* line-height: 1; */
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4F260B;
    /* font-family: ten-mincho, serif; */
    font-family: "ten-mincho-text", serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
    /* font-feature-settings: "palt"; */
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 確認したいこと
〇トップページ
・アセットの書き出しの確認（歩くバラ×２，走るバラ×２、吹き出し、黄色×２）
・MENU,Kusabukaのフォントが適用されないときがある。
・根のアニメーションの相談（上から下にあらわれるようなアニメーション）
・メニュー作り（OCY参考）どんな時でも逆スクロールされるとでてくるようにしたい。

〇レスポンシブ
・横スクロールがでてしまっている。
・Kusabukaのフォントが適用されるときとされないときがあるのがきになる
・根がない。
・草深く、ひらく。のところの向かい合ったイラストをどのようにはいちしたらよいのか。
・コンセプトのところに2人歩くバラをいれたい。
・イラストをPCとSP版で違う配置にしてしまった。どうしたらよいか。
・DESIGN/CODEのところがうまくいかない。
→画像がなんでこんなに小さくなってしまうのか。
→文字のところの余白が多すぎて改行されすぎてしまう。
・お問合せフォームの文字真ん中にしたい。
・フッターのところ、文字を縦並びにしたい。お問合せのメールは横並びにならない。

〇バラちゃん図鑑
PC版はだいたいおっけい（あとは余白とお問合せのところくらい）

レスポンシブ
・文字が多すぎて、文字が重なってしまうところを何とかしたい。

〇about
・一番左・根を張る→数字を入れたい、見ているところだけ、色が入るようにしたい。
固定したい。

・真ん中・イラスト→固定したい
光をさがすばらをリンクにしたい。バラちゃん図鑑にとばしたい。どうしたらいいか。

・文字→どうやって改行させたらいいか。どこでもいいけどいい感じにしたい。

〇コンタクト
これからやる
アカウント、フォームを作って→実装→組み込む？

〇Works
明日やる

〇Works-sub
明日やる
・画質が荒れすぎてやばい
 */